/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     display: flex;
     flex-flow: column;
     align-items: center;
     gap: 50px;
}

.intro {
     flex-flow: column wrap;
     row-gap: 0px;
}

.searchArea {
     gap: 0px 20px;
}
.searchOptions {
     text-align: center;
     line-height: 30px;
}

/* Bottom section of page where cards are displayed and added */
#cardAddArea {
     display: flex;
     flex-flow: row nowrap;
     align-items: flex-start;
     justify-content: center;
     width: 95vw;
     border: 2px solid red;
}
#cardAddInputArea {
     display: flex;
     align-self: start;
     width: 20%;
     height: 100%;
     border: 3px solid blue;
}
#cardAddInputArea form {
     display: flex;
     flex-flow: column wrap;
     justify-content: flex-start;
     /* align-items: stretch; */
     width: 100%;
}
#cardImageArea {
     width: 80%;
     row-gap: 100px;
     column-gap: 20px;
}

section {
     display: flex;
     flex-flow: row wrap;
     align-items: center;
     justify-content: center;
     
     border: 1px solid black;
}

img {
     width: 150px;
     height: auto;
}
img:hover {
     transform: scale(1.5);
     /* width: 250px;
     height: auto; */
}



/******************************************
/* LAYOUT
/*******************************************/
header {

}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.hidden {
     visibility: hidden;
}