/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     display: flex;
     flex-flow: column;
     gap: 50px;
}

img {
     width: 150px;
     height: auto;
}
img:hover {
     width: 250px;
     height: auto;
}

#cardImages {
     display: flex;
     flex-flow: row wrap;
     align-items: center;
     justify-content: center;
     row-gap: 100px;
     column-gap: 20px;
     
     width: 90%;
     border: 1px solid black;
}

/******************************************
/* LAYOUT
/*******************************************/
header {

}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
